body {
    color:rgb(0, 0, 0);
    background: rgb(180, 177, 177);
    font-family: "Playwrite CU", cursive;
    display:flex;
    Justify-content: center;
    align-items: center;
    height: 700px;

}

button {
    color: black;
    font-family: "Playwrite CU", cursive;
    background: rgb(240, 186, 224);
}

.passo{
display: none;
}

.passo.ativo{
    display: block;
}
img{
    height: 300px;

}